<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CareSource.WC.Entities" version="4.3.0.56508" targetFramework="net461" />
  <package id="CareSource.WC.OnBase.Core" version="4.3.17.3782" targetFramework="net461" />
  <package id="Dapper" version="2.0.35" targetFramework="net461" />
  <package id="log4net" version="2.0.15" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Versioning" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Versioning.ApiExplorer" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="7.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Swashbuckle" version="5.6.0" targetFramework="net461" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.5" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="Unity" version="5.11.7" targetFramework="net461" />
  <package id="Unity.Abstractions" version="5.11.6" targetFramework="net461" />
  <package id="Unity.AspNet.WebApi" version="5.11.1" targetFramework="net461" />
  <package id="Unity.Container" version="5.11.8" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>